body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(59,59,88,1) 76%, rgba(46,89,98,1) 100%);
    font: Arial;
}


button {
    margin-top: -10px;
    font-size: 80px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    color: white;
}

button.Mobile {
    margin-top: -10px;
    font-size: 80px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    color: white;
}

.Mobile {display: none;}

/* Smartphone Portrait and Landscape */
@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){ 
    .Mobile {display: inline;}
    .Desktop {display: none;}
}


h1 { 
    font-family: Marvel; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
} 
    
h3 { 
    font-family: Marvel; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
} 

p { 
    font-family: Marvel; 
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
    color: white;
} 
    
blockquote { 
    font-family: Marvel; 
    font-size: 21px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 30px; 
} 

pre { 
    font-family: Marvel; 
    font-size: 13px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 18.5714px; 
}


/* Mov */

.card-panel#CapitanAmerica {

    background: transparent url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/01A80B8F08D40DB650C76C2C2D1EF94DBC0412241DD654C2CF0750DF45847ABB/scale?width=800&amp") scroll no-repeat 0 0;
    background-size: cover;
    width: 300px;
    height: 175px;
    position: relative;
    left: -10px;

}

.card-panel#CapitanaMarvel {

    background: transparent url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/B12114ACF6897AD1E0D1CEAE78E45FAFB7CE65C011EFAF1EF20553145CA05AAA/scale?width=800&amp") scroll no-repeat 0 0;
    background-size: cover;
    width: 300px;
    height: 175px;
    position: relative;
    left: -10px;
    
}

.card-panel#IronMan {

    background: transparent url("https://i.ytimg.com/vi/lPxpJa0wPOY/maxresdefault.jpg") scroll no-repeat 0 0;
    background-size: cover;
    width: 300px;
    height: 175px;
    position: relative;
    left: -10px;
    
}

.card-panel#IronMan2 {

    background: transparent url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/F4030FF9832F1C84777E4B6C5EAEAAD1A42563E593123468678DB179145222C5/scale?width=800&amp") scroll no-repeat 0 0;
    background-size: cover;
    width: 300px;
    height: 175px;
    position: relative;
    left: -10px;
    
}

.card-panel#Thor {

    background: transparent url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/A2A22B9A33C8C1A6B70A54A7AF119B6C0BB1253688B0C36F3503DB832348D95B/scale?width=800&amp") scroll no-repeat 0 0;
    background-size: cover;
    width: 300px;
    height: 175px;
    position: relative;
    left: -10px;
    
}

.card-panel#LosVengadores {

    background: transparent url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/4D24513218DD0D27AE33631063ECCBEFA3A0C3DCFDDC328B5B4C3EDB9354D5D0/scale?width=800&amp") scroll no-repeat 0 0;
    background-size: cover;
    width: 300px;
    height: 175px;
    position: relative;
    left: -10px;

}

.card-panel#IronMan3 {

    background: transparent url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/A62CB342AF6600C794BDEAC8C49D6A81201CD49E614CC421ED08B0ADF005573B/scale?width=800&amp") scroll no-repeat 0 0;
    background-size: cover;
    width: 300px;
    height: 175px;
    position: relative;
    left: -10px;

}

.card-panel#Thor2 {

    background: transparent url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/F76B101C6C6EEB84881491E1EDDEA0B344099ACA8F495CE9755BC410BEF7125A/scale?width=800&amp") scroll no-repeat 0 0;
    background-size: cover;
    width: 300px;
    height: 175px;
    position: relative;
    left: -10px;

}

.card-panel#CapitanAmerica2 {

    background: transparent url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/50410F4CD6D223B7AD1351972ED932E2709AFDA855303B001B55EC56A43D2FFE/scale?width=800&amp") scroll no-repeat 0 0;
    background-size: cover;
    width: 300px;
    height: 175px;
    position: relative;
    left: -10px;

}

.card-panel#LosGuardianes {

    background: transparent url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/F399072706B027867AC77186660BA22DF967C90B36A9A47073445A2FF3116CBB/scale?width=800&amp") scroll no-repeat 0 0;
    background-size: cover;
    width: 300px;
    height: 175px;
    position: relative;
    left: -10px;
}

.card-panel#LosGuardianes2 {

    background: transparent url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/9A7DCA2EC0F33461985FBF1BFEB7EAFA725DE56B420ED7001903833A0366B413/scale?width=800&amp") scroll no-repeat 0 0;
    background-size: cover;
    width: 300px;
    height: 175px;
    position: relative;
    left: -10px;
}

.card-panel#LosVengadores2 {

    background: transparent url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/178DCC9FFAFDA3DF7CAB526A455AD936DEFC032E63A82FAB75AFEE731374549F/scale?width=800&amp") scroll no-repeat 0 0;
    background-size: cover;
    width: 300px;
    height: 175px;
    position: relative;
    left: -10px;

}

.card-panel#AntMan {

    background: transparent url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/A97AFE553D0C6A28D7C63B75193D3EB45CCBCDEC6F43227FD9B5A93034FE7F3B/scale?width=800&amp") scroll no-repeat 0 0;
    background-size: cover;
    width: 300px;
    height: 175px;
    position: relative;
    left: -10px;
}

.card-panel#CapitanAmerica3 {

    background: transparent url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/08DE0C6A69EEA4C17FC0E7C12422196838D495DD3F03E043FC36A1A4A133B674/scale?width=800&amp") scroll no-repeat 0 0;
    background-size: cover;
    width: 300px;
    height: 175px;
    position: relative;
    left: -10px;
}

.card-panel#BlackPanther {

    background: transparent url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/08A93C557C046ED8E088F6822BB179BDB28362D2DA214825E1FCC06DCC65EE24/scale?width=800&amp") scroll no-repeat 0 0;
    background-size: cover;
    width: 300px;
    height: 175px;
    position: relative;
    left: -10px;
}

.card-panel#SpiderManHomecoming {

    background: transparent url("https://creativekatarsis.com/wp-content/uploads/2017/05/spider_man_homecoming.jpg") scroll no-repeat 0 0;
    background-size: cover;
    width: 300px;
    height: 175px;
    position: relative;
    left: -10px;
}

.card-panel#DoctorStrange {

    background: transparent url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/D1AD743E88F942A38794FC7D12A76D44DEDD8C39231E5A8617EB993B6926F915/scale?width=800&amp") scroll no-repeat 0 0;
    background-size: cover;
    width: 300px;
    height: 175px;
    position: relative;
    left: -10px;
}

.card-panel#Thor3 {

    background: transparent url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/FE355F8F546C6FA3E1F5027656BF4848B6E987994059B31B2832C06D6A6F5D2D/scale?width=800&amp") scroll no-repeat 0 0;
    background-size: cover;
    width: 300px;
    height: 175px;
    position: relative;
    left: -10px;
}

.card-panel#InfinityWar {

    background: transparent url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/9053A5267F7CC351F250E581EC3B92ED5819002E5ECD5A6D6D79CB6737463927/scale?width=800&amp") scroll no-repeat 0 0;
    background-size: cover;
    width: 300px;
    height: 175px;
    position: relative;
    left: -10px;
}
.card-panel#AntMan2 {

    background: transparent url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/A857EA3636259CD1716DB041CC25096A7B5372B0D3A9CFFF2434EEE79CC8FCCA/scale?width=800&amp") scroll no-repeat 0 0;
    background-size: cover;
    width: 300px;
    height: 175px;
    position: relative;
    left: -10px;
}


.card-panel#EndGame {

    background: transparent url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/5E53C659348E0BC3AB98C023A2474601E0FAB43E244D8F79A36BBD550BB341ED/scale?width=800&amp") scroll no-repeat 0 0;
    background-size: cover;
    width: 300px;
    height: 175px;
    position: relative;
    left: -10px;
}


.card-panel#SpiderManFar {

    background: transparent url("https://crehana-blog.s3.amazonaws.com/media/filer_public/0f/95/0f95e38c-aae0-4fc9-843b-0318d33e93e2/spiderman-far-frin-home.jpg") scroll no-repeat 0 0;
    background-size: cover;
    width: 300px;
    height: 175px;
    position: relative;
    left: -10px;
}

button#Mov {

    margin-top: -25px;
    margin-left: -25px;
    background-color: transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    color: transparent;
    height: 175px;
    width: 300px;
}

